---
extends: default

rules:
  line-length:
    max: 120
    level: warning

ignore: |
  .github/stale.yml
  extract\ archive/unarchive.yml
  troubleshooting/failuredownloading_fix.yml
  troubleshooting/failuredownloading_error.yml
  troubleshooting/syntax_error.yml
